.item img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 3px solid rgb(1, 250, 22);
    
}
.red { background: #C1172C; }
.grey{
    background: gray;
}
.pageNumber{
    color:var(--text-color);
}
.selectedPage{
    color:gold
}
.curs{
    cursor:pointer;
}
.username{
    color:var(--text-color);
}