
.aside{
    grid-area: aside;
    background-color: var(--bg-color);
    border-right: 1px solid black;
}
.item a{
    color:var(--text-color);
}
a.activeLink{
    color:gold;

}
.inlinefriends{
    display:inline-block;
    padding: 2px;
    color:var(--text-color);
}
.item img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid red;
}